.textcontent {
  padding: 80px;
  margin: auto;
  max-width: 1440px;

  >div {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 20px;

    >div {
      width: 45%;
      align-content: center;
      padding: 25px;

      h2 {
        font-size: 3em;
      }

      img {
        border: 10px solid white;
        border-bottom: 30px solid white;
        transform: rotate(11deg);
      }
    }
  }

  @media(max-width:1200px) {
    padding: 25px;

    >div>div {
      width: 100%;
    }

    .left {
      padding-bottom: 60px;
    }
  }
}