.textcontent {
  padding: 80px;
  margin: auto;
  max-width: 1440px;

  >div {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;

    >div {
      max-width: 700px;

      h2,
      h1 {
        font-size: 5em;
      }

      &.right {
        text-align: end;
      }

      .mainbtn {
        float: right;
      }
    }
  }
}