:root {
  --background: #f1f1f1;
  --foreground: #171717;
  --darkgreen: rgb(12, 53, 36);
  --green: rgb(24, 110, 74);
  --orange: #fc894d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--darkgreen);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  color: white;

}

h2 {
  font-size: 3em;
  margin: 0px 10px;
}

.relative {
  position: relative;

  section {
    position: relative;
    z-index: 2;
  }
}

.mainbtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(135deg, var(--green) 40%, var(--orange));
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  font-size: 20px;
  height: 54px;
  letter-spacing: 0.4px;
  line-height: 1;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;

  // Hover and active states
  &:active,
  &:hover {
    outline: 0;
  }

  // Span inside button
  span {
    transition: all 200ms;

    // Hover effect on span
    &:hover {
      transform: scale(0.9);
      opacity: 0.75;
    }
  }

  // Media query for responsive design
  @media screen and (max-width: 991px) {
    font-size: 15px;
    height: 50px;

    span {
      line-height: 50px;
    }
  }
}

main {
  overflow: hidden;
}


section.stacked {
  section {
    padding: 20px;
  }

  section:nth-child(odd) {
    >div {
      flex-direction: row-reverse;

      img {
        transform: rotate(357deg);
      }
    }
  }
}

header {
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 999999;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);

  >div {
    max-width: 1600px;
    margin: auto;
  }

  .nav {
    display: flex;
    gap: 20px;
    align-items: center;

    .mainbtn {
      font-size: 16px;
      padding: 13px 14px;
      height: auto;
    }

    a svg {
      fill: white;
      width: 20px;
    }
  }
}

footer {
  text-align: center;
  background-color: #0a0a0a;
  padding: 25px;
}